<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>父子组件传值</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- :count="0", "0"是js表达式； count="0", "0"是字符串 -->
      <counter :count="22" @change="handleNumChange"></counter>
      <counter :count="242" @change="handleNumChange"></counter>
      <div>{{total}}</div>
    </div>
    <!-- built files will be auto injected -->
    <script type="text/javascript">

      // 子组件
      var counter = {
          props: ['count'],
          template: '<div @click="handleClk">{{number}}</div>',
          data: function () {
              // 单向数据流概念，父组件可以向子组件传递参数，反过来子组件不能修改父组件传过来的内容，因为一个子组件对父组件传过来的内容会影响其他子组件
              // 子组件不能修改父组件传过来的值，只能先拷贝一个副本再修改
              return {
                  number: this.count
              }
          },
          methods: {
              handleClk: function () {
                  this.number += 2
                  this.$emit('change', 2) // 触发"change"事件，同时传个2作为参数step
              }
          }
      }

     // 父组件
      var app = new Vue({
          el: '#app',
          components: {
              counter: counter
          },
          data: {
              total: 0
          },
          methods: {
              handleNumChange: function (step) {
                  this.total += step
              }
          }
      })
    </script>
  </body>
</html>
